<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/layui@2.8.3/dist/css/layui.css">
    <script src="https://cdn.jsdelivr.net/npm/layui@2.8.3/dist/layui.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <br>
    <div class="container page-header" style="width: 80%;text-align:left; font-size:15px; margin-left: 20%;">
        <h2> 填写个人信息 <small> </small></h2></div>
    <style>
        .upload-container {
            display: flex;
            align-items: center;
        }
       .fixed-size-photo {
            max-width: 150px; /* 设置最大宽度 */
            max-height: 150px; /* 设置最大高度 */
            object-fit: cover; /* 保持图片比例并裁剪 */
        }

        .xxbutton {
        outline: none;
        }

        .button:hover {
        /* 添加其他样式 */
        }

    </style>
</head>
<body>

<br><br>
<div class="layui-container" style="margin-left: -2.5%;">
    <form id="myForm" class="layui-form" method="post" action="/index_提交成功">
        <div class="layui-form-item">
            <label class="layui-form-label">姓名 </label>
            <div class="layui-input-inline">
                <input id="inputxm" type="text" name="inputxm" lay-verify="required" placeholder=" "
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">工号</label>
            <div class="layui-input-inline">
                <input name="inputgh" type="text" lay-verify="required" placeholder="例如：079685"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">微信号 </label>
            <div class="layui-input-inline">
                <input id="inputwechat" type="text" name="inputwechat" lay-verify="required" placeholder=" "
                       autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">出生日期</label>
            <div class="layui-input-inline">
                <input id="inputcsrq" type="text" name="inputcsrq" lay-verify="required" placeholder="例如：19970101"
                       autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">籍贯</label>
            <div class="layui-input-inline">
                <select name="city" lay-verify="required" placeholder="请选择城市" autocomplete="off"
                        class="layui-select">
                    <option value="">请选择</option>
                    <option value="北京市">北京市</option>
                    <option value="天津市">天津市</option>
                    <option value="上海市">上海市</option>
                    <option value="重庆市">重庆市</option>
                    <option value="河北省">河北省</option>
                    <option value="山西省">山西省</option>
                    <option value="辽宁省">辽宁省</option>
                    <option value="吉林省">吉林省</option>
                    <option value="黑龙江省">黑龙江省</option>
                    <option value="江苏省">江苏省</option>
                    <option value="浙江省">浙江省</option>
                    <option value="安徽省">安徽省</option>
                    <option value="福建省">福建省</option>
                    <option value="江西省">江西省</option>
                    <option value="山东省">山东省</option>
                    <option value="河南省">河南省</option>
                    <option value="湖北省">湖北省</option>
                    <option value="湖南省">湖南省</option>
                    <option value="广东省">广东省</option>
                    <option value="海南省">海南省</option>
                    <option value="四川省">四川省</option>
                    <option value="贵州省">贵州省</option>
                    <option value="云南省">云南省</option>
                    <option value="西藏自治区">西藏自治区</option>
                    <option value="陕西省">陕西省</option>
                    <option value="甘肃省">甘肃省</option>
                    <option value="青海省">青海省</option>
                    <option value="宁夏回族自治区">宁夏回族自治区</option>
                    <option value="新疆维吾尔自治区">新疆维吾尔自治区</option>
                    <option value="香港特别行政区">香港特别行政区</option>
                    <option value="澳门特别行政区">澳门特别行政区</option>
                    <option value="台湾省">台湾省</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">性别</label>
            <div class="layui-input-block">
                <input type="radio" name="sex" value="男" title="男" checked>
                <input type="radio" name="sex" value="女" title="女">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">身高</label>
                <div class="layui-input-block">
                    <input type="radio" name="inputsg" value="160cm以下" title="160cm以下">
                    <input type="radio" name="inputsg" value="160-164cm" title="160-164cm">
                    <input type="radio" name="inputsg" value="165-169cm" title="165-169cm">
                    <input type="radio" name="inputsg" value="170-174cm" title="170-174cm">
                    <input type="radio" name="inputsg" value="175cm以上" title="175cm以上" checked>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">性格</label>
                <div class="layui-input-block">
                    <input type="radio" name="inputxg" value="E" title="E（外向型）">
                    <input type="radio" name="inputxg" value="I" title="I（内向型）" checked>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">兴趣</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="美食" title="美食" value="美食" lay-skin="primary">
                    <input type="checkbox" name="钓鱼" title="钓鱼" value="钓鱼" lay-skin="primary">
                    <input type="checkbox" name="看剧" title="看剧" value="看剧" lay-skin="primary">
                    <input type="checkbox" name="游泳" title="游泳" value="游泳" lay-skin="primary">
                    <input type="checkbox" name="健身" title="健身" value="健身" lay-skin="primary">
                    <input type="checkbox" name="跳舞" title="跳舞" value="跳舞" lay-skin="primary">
                    <input type="checkbox" name="唱歌" title="唱歌" value="唱歌" lay-skin="primary">
                    <input type="checkbox" name="游戏" title="游戏" value="游戏" lay-skin="primary">
                    <input type="checkbox" name="篮球" title="篮球" value="篮球" lay-skin="primary">
                    <input type="checkbox" name="足球" title="足球" value="足球" lay-skin="primary">
                    <input type="checkbox" name="羽毛球" title="羽毛球" value="羽毛球" lay-skin="primary">
                    <input type="checkbox" name="其他" title="其他" value="其他" lay-skin="primary" checked>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <h3>特此声明！本人所填报信息均真实无误，如提供虚假信息，本人愿承担由此产生的一切后果和法律责任！</h3>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="submit" id="submitButton" class="layui-btn" lay-submit lay-filter="formDemo">提交
                </button>
            </div>
        </div>

    </form>

</body>
</html>